<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
</head>
<body>
  <div class="main-cadastro">
    <h2>Cadastro de Novo Usuário</h2>
    <form method="POST">
      <label>Usuário: <input id="usuario" type="text" name="usuario"></label><br>
      <label>Senha: <input id="senha" type="password" name="senha"></label><br>
      {% if erro %}
        <p class="erro">{{ erro }}</p>
      {% endif %}
      <button id="button" type="submit">Cadastrar</button>
    </form>
    <a href="{{ url_for('login') }}">Voltar para o login</a>
  </div>
</body>
</html>
